USE [master]
GO
/****** Object:  Database [universidad]    Script Date: 17/4/2023 8:36:29 p. m. ******/
CREATE DATABASE [universidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'universidad', FILENAME = N'C:\sqlserverdata\MSSQL16.SQLEXPRESS\MSSQL\DATA\universidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'universidad_log', FILENAME = N'C:\sqlserverdata\MSSQL16.SQLEXPRESS\MSSQL\DATA\universidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [universidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [universidad]
GO
/****** Object:  Table [dbo].[estudiante]    Script Date: 17/4/2023 8:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiante](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](100) NULL,
	[asignatura] [varchar](50) NULL,
	[movil] [varchar](13) NULL,
	[correo_electronico] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
